/*Colors*/

$primary-color: #113366;
$secondary-color: #ff2244;
$active-color: #00778F;
$ascent-1-color: #22ccee;
$ascent-2-color: #ddaaaa;
$ascent-3-color: #aa4499;
$ascent-4-color: #ccbbbb;
$ascent-5-color: #131C24;
$dark-green: #55aabb;